@media (max-width:1645px) {
    .home-right img {
        width: 670px;
    }
}

/* 337 */

@media (max-width:1629px) {


    .home-left {
        width: 60%;
    }

    .home-right {
        width: 40%;
    }

    .home-content-text {
        padding: 0px 0px 0px 40px;
    }

    .home-right img {
        width: 650px;
    }

    .skill-bottom-left-three {
        width: 14vw;
    }

    .services-section {
        height: 720px;
    }

    


}

@media (max-width:1529px) {

    .home-right img {
        width: 660px;
    }

    .skill-bottom-left-three {
        width: 15vw;
    }

    .services-section {
        height: 740px;
    }

    .services-bottom-card {
        height: 240px;
    }

}

@media (max-width:1500px) {

    .home-content-text {
        padding: 0px 0px 0px 20px;
    }

}

@media (max-width:1456px) {

    .home-content-text {
        padding: 0px 0px 0px 20px;
    }

    .text-two {
        font-size: 4.25rem;
    }


}

@media (max-width:1440px) {
    .home-right img {
        width: 660px;
    }

}

@media (max-width:1429px) {

    .home-left {
        width: 60%;
    }

    .home-content-text {
        padding: 0px 0px 0px 20px;
    }

    .home-right {
        width: 40%;
    }

    .services-bottom-card-container {

        width: 90%;
        margin: 25px 5%;
    }

}

@media (max-width:1377px) {

    .home-left {
        width: 58%;
    }

    .home-right {
        width: 42%;
    }

    .home-right img {
        width: 650px;
    }

    .skill-bottom-left-three {
        width: 15vw;

    }

    .bottom-left-three-left {
        width: 45%;
        padding-left: 5px;
    }
}

@media (max-width:1323px) {

    .home-content-text {
        padding: 5px 0px 0px 20px;
    }

    .text-one {
        font-size: 1.56rem;
    }

    .text-two {
        font-size: 4.06rem;
    }

    .text-three {
        font-size: 2.3rem;
    }

    .text-four {
        font-size: 1.25rem;
    }


}

@media (max-width:1267px) {

    .text-two {
        font-size: 3.5rem;
        padding: 0px;
    }

    .text-three {
        font-size: 1.87rem;
    }

    .text-four {
        font-size: 1.1rem;
    }

    .home-right {
        flex-basis: 52%;
    }

    .home-right img {
        width: 640px;
    }

    .skill-bottom-left-three {
        width: 16vw;
        margin-top: 5px;
    }

    .services-section {
        height: 780px;
    }

    .services-section {
        height: 1050px;
    }

    .services-bottom-card-container {
        display: flex;
        flex-wrap: wrap;
        height: 1050px;
    }

    .services-bottom-card {
        width: 48%;
    }


}

@media (max-width:1189px) {

    .home {
        height: 780px;
    }

    .home-right img {
        height: 780px;
    }

    .skill-bottom-left-three {
        width: 16vw;
    }

    .bottom-left-three-left {
        font-size: 4.37rem;

    }

    .bottom-left-three-right {
        font-size: 0.9rem;
        padding-bottom: 2px;
    }

    .services-bottom-card-one {
        height: 55px;
        /* margin-left: 42%; */
    }
}



@media (max-width:1173px) {

    .home-left {
        flex-basis: 55%;
    }

    .home-right {
        flex-basis: 45%;
    }

    .home-content-text {
        width: 98%;
    }

    .home-right img {
        width: 500px;
        height: 680px;
        margin-top: 75px;
    }


}

@media (max-width:1161px) {

    .skill-bottom-left-three {
        display: flex;
        width: 18vw;
    }
}

@media (max-width:1100px) {

    .home {
        height: 780px;
    }

    .home-left {
        flex-basis: 50%;
    }

    .home-right {
        flex-basis: 50%;
    }

    .home-right img {
        width: 500px;
        height: 680px;

    }
}

@media (max-width:1077px) {
    .home-content-text {
        width: 98%;
    }

    .text-two {
        font-size: 5vw;
    }

    .text-three {
        font-size: 3vw;
    }

}

@media (max-width:1024px) {
    .home-right img {
        width: 590px;
    }
}

@media (max-width:1000px) {

    .home {
        height: 750px;
    }

    .home-right img {
        width: 490px;
        height: 650px;
    }

    .skill-bottom-left-one {
        font-size: 1.5rem;
    }

}

@media (max-width:980px) {
    .about-bottom-right-two {
        font-size: 1em;
    }
}

@media (max-width:870px) {

    .home {
        height: 650px;
    }

    .home-left {
        flex-basis: 50%;
    }

    .home-right img {
        margin-top: 63px;
        width: 400px;
        height: 550px;
    }

    .text-two {
        display: flex;
        font-size: 5vw;
        padding: 0px 0px
    }

    .about-bottom-right {
        padding: 0px 10px;
    }

    .skill-bottom-left-three {
        width: 24vw;
    }

    .contact-middle {
        width: 75%;
    }

    .contact-bottom {
        margin: 15px 0px 30px 0px;
    }



}

@media (max-width:852px) {

    .home-content-text {
        width: 98%;
        padding: 0px 5px 0px 20px;
    }

    .text-one {
        font-size: 1.56rem;
    }

    .text-two {
        font-size: 2.8em;
    }

    .text-three {
        font-size: 1.37rem;
    }

    .text-four {
        font-size: .81rem;
    }

    .home-right img {
        margin-top: 63px;
        width: 400px;
        height: 550px;
    }

    .about-bottom {
        width: 100%;
        padding-left: 0px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }

    .about-bottom-right {
        padding: 10px 50px;
    }

    .about-bottom-right-one {
        padding: 35px 0px 10px 20px;
    }

    .about-bottom-right-two {
        padding-left: 1.25rem;
    }

    .about-bottom-right-three {
        margin: 20px 20px;
    }

}

@media (max-width:824px) {
    .home-left {
        flex-basis: 70%;
    } 




}


@media (max-width:806px) {

    .home-left {
        flex-basis: 50%;
    }

    .home-content-text {
        width: 98%;
        padding: 0px 5px 0px 20px;
    }

    .text-one {
        font-size: 1.06rem;
    }

    .text-two {
        font-size: 2.5rem;
    }

    .text-three {
        font-size: 1.37rem;
    }

    .text-four {
        font-size: .81rem;
    }

    .home {
        height: 587px;
    }

    .home-right img {
        margin-top: 63px;
        width: 350px;
        height: 480px;
    }

    .about-bottom {
        width: 100%;
        padding-left: 0px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }

    .about-bottom-right {
        padding: 10px 50px;
    }

    .about-bottom-right-one {
        padding: 35px 0px 10px 20px;
    }

    .about-bottom-right-two {
        padding-left: 1.25rem;
    }

    .about-bottom-right-three {
        margin-left: 20px;
    }

    .skill-section {
        height: fit-content;
        padding-bottom: 30px;
    }

    .contact-section {
        height: 370px;
    }

    .skill-bottom-left-one {
        font-size: 1.25rem;
    }

    .skill-bottom-left-two {
        font-size: 1rem;
    }


}

@media (max-width:772px) {

    .services-bottom-card {

        height: fit-content;
    }

    .services-bottom-card-three {
        padding-bottom: 15px;
    }

}

@media (max-width:744px) {

    .skill-section {
        height: fit-content;
        padding-bottom: 30px;
    }

}

@media (max-width:742px) {

    .navbar-middle li a {
        font-size: 1rem;
    }

    .text-two {
        font-size: 35px;
        padding-right: 0px;
    }

    .text-three {
        font-size: 1.25rem;
    }




}

@media (max-width:726px) {

    .skill-bottom-right-top {
        font-size: 1.2rem;
    }

    .skill-bottom-right-bottom {
        font-size: 2.6rem;
    }

}

@media (max-width:706px) {


    .navbar-section {
        height: 60px;
        width: 100vw;
    }

    .navbar {
        display: flex;
        height: 60px;
        justify-content: space-between;
    }

    .navbar-logo {
        font-size: 1.75rem;
    }

    .navbar-middle {
        display: flex;
        flex-direction: row;
    }

    #menubar-icon {
        display: none;
        padding: 0px 0px 0px 5px;
        font-size: 26px;
        font-weight: 600;
    }

    .navbar-middle li a {
        font-size: 14px;
    }


    .skill-bottom-left-three {
        width: 28vw;
    }

    .services-section {
        height: fit-content;

    }

    .services-bottom-card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 86%;
        height: fit-content;
        margin: 25px 7%;
        padding-left: 0%;
    }

    .services-bottom-card {
        width: 46%;
        height: fit-content;
        margin: 20px 02%;
    }
    
    .services-bottom-card-two {
        font-size: 25px;
    }

    .services-bottom-card-three {
        font-size: 15px;
    }


}


@media (max-width:687px) {

    .home-left {
        z-index: 0;
        font-size: 2em;
    }

    .home-right img {
        z-index: 5;
    }

    .services-bottom-card {
        height: fit-content;
    }

    .services-bottom-card-three {
        margin-top: 5px;
    }


}


@media (max-width:662px) {

    .skill-section {
        width: 100%;
        height: fit-content;
        padding-bottom: 30px;
    }

    .skill-bottom {
        display: flex;
        flex-direction: column;
        height: fit-content;

    }


    .skill-bottom-left-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;

    }

    .skill-bottom-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 25px 0px 20px;
    }

    .skill-bottom-left-one {
        font-size: 1.5rem;

    }

    /* .skill-bottom-left-two {
        font-size: .8rem;
    }  */

}

@media (max-width:656px) {

    .home {
        position: relative;
    }

    .home-left {
        flex-basis: 60%;

    }

    .home-content-text {
        width: 98%;
        padding: 0px 0px 0px 20px;
    }

    .text-one {
        font-size: 01rem;
    }


    .text-two {
        font-size: 2rem;
    }

    .text-three {
        font-size: 1.4rem;

    }

    .text-four {
        font-size: 1rem;
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 105px;
        height: 40px;
        margin: 4px 2px 0px;
        font-size: 19px;

    }

    .about-bottom-right-three {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        font-size: 19px;
    }

    .contact-bottom {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 40px;
        margin: 20px 2px 0px;

    }

    .contact-bottom a {
        font-size: 1.2rem;
    }

    .home {
        height: 587px;
    }

    .home-right img {
        margin-top: 63px;
        width: 350px;
        height: 480px;
    }

    .skill-bottom-right-container {
        position: relative;

    }




}


@media (max-width:600px) {
    .services-bottom-card {
        width: 100%;
        height: fit-content;
        padding-bottom: 30px;
    }
}

@media (max-width:588px) {

    .navbar ul li a {
        font-size: .8rem;
    }

    .skill-bottom-left-two {
        font-size: 1rem;
    }

    .bottom-left-three-left {
        font-size: 3.4rem;

    }

    .bottom-left-three-right {

        font-size: .8rem;
        padding: 20px 0px 0px 7px;

    }

    .footer a {
        font-size: 1.05rem;
    }



}

@media (max-width:559px) {


    .navbar-logo {
        font-size: 1.5rem;
    }

    .ri-github-fill,
    .ri-whatsapp-line,
    .ri-mail-send-fill {
        font-size: 1.3rem;
    }

    .navbar ul li a {
        font-size: .7rem;
    }

    .home {
        position: relative;
        height: 447px;

    }

    .home-left {
        display: flex;
        position: relative;
        flex-basis: 70%;

    }

    .home-content-text {
        height: 280px;

    }

    .home-right {
        margin-top: 0px;
    }


    .home-right img {
        margin-top: 65px;
        width: 340px;
        height: 420px;
    }

    .text-one {
        font-size: 01rem;
    }


    .text-two {
        font-size: 1.7rem;

    }

    .text-three {
        font-size: 1.2rem;
        padding: 0px;
        margin: 0px;
    }

    .text-four {
        font-size: 1rem;
    }


    .services-bottom-card {
        height: fit-content;
    }

    .footer div {
        font-size: 1.1rem;
    }


}


@media (max-width:529px) {

  
}

@media (max-width:516px) {

    .skill-section {
        height: fit-content;
        padding-bottom: 30px;
    }

}


@media (max-width:500px) {

    .navbar-logo {
        font-size: 1.4rem;
    }


    .navbar ul li a {
        font-size: .6rem;
    }

    .ri-github-fill,
    .ri-whatsapp-line,
    .ri-mail-send-fill {
        font-size: 1.4rem;
    }

    .home {
        position: relative;
        height: 392px;
    }

    .home-right img {
        /* margin-top: 63px; */
        width: 280px;
        height: 360px;
    }

    .home-left {
        position: relative;
        flex-basis: 90%;

    }

    .home-content-text {
        height: 250px;
        padding: 0px 10px 0px;

    }

    .text-one {
        font-size: 1rem;
    }


    .text-two {
        font-size: 1.5rem;

    }

    .text-three {
        font-size: 1.3rem;

    }

    .text-four {
        font-size: .8rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 36px;
        margin: 4px 2px 0px;
        font-size: 16px;

    }

    .skill-section {
        width: 100%;
        height: fit-content;
        padding-bottom: 30px;
    }

    .skill-bottom {
        display: flex;
        flex-direction: column;
        height: fit-content;

    }


    .skill-bottom-left-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;

    }

    .skill-bottom-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 25px 0px 20px;
    }

    .skill-bottom-left-one {
        font-size: 1.4rem;
    }

    .skill-bottom-left-two {
        font-size: 1rem;
    }

    .services-bottom-card {
        width: 100%;
        height: fit-content;
        padding-bottom: 30px;
    }

    .footer div {
        font-size: 1rem;
    }

}

@media (max-width:450px) {

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-middle {
        display: none;
    }


    #menubar-icon {
        display: inline-block;
        padding: 0px 0px 0px 5px;
        font-size: 26px;
        font-weight: 600;
    }

    .home {
        display: flex;
        flex-direction: column;
        height: 742px;
    }

    .home-left {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-basis: 35%;
        margin-top: 30px;
        padding-top: 80px;
    }

    .home-content-text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;

    }

    .text-one {
        font-size: 1.6rem;
    }

    .text-two {
        font-size: 2.3rem;
        width: 100%;

    }

    .text-three {
        font-size: 1.8rem;
        width: 100%;
    }

    .text-four {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 5px 3px 15px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 44px;
        margin: 4px 2px 0px;
        font-size: 22px;

    }

    .home-right {
        display: flex;
        flex-basis: 65%;
        justify-content: center;
        width: 100%;
        height: 300px;
        overflow: hidden;


    }

    .home-right img {
        margin-top: 25px;
        height: 460px;
        width: 350px;

    }

    .bottom-left-three-right {
        margin-left: 10px;
    }

    .contact-section {
        padding-bottom: 30px;
        height: fit-content;
    }

    .footer a {
        font-size: .9rem;
    }


}


@media (max-width:426px) {

    .about-bottom-right-one {
        font-size: 1.4rem;
    }

}

@media (max-width:370px) {

    .skill-bottom {
        position: relative;
    }

    .skill-bottom-left-one {
        font-size: 1.2rem;
    }


    .contact-middle {
        font-size: 1rem;
    }


}

@media (max-width:364px) {

    .navbar-section {
        height: 60px;
        width: 100%;
    }

    .navbar {
        display: flex;
        height: 60px;
        justify-content: space-between;
    }

    .navbar-logo {
        font-size: 28px;
    }

    .navbar-middle {
        display: none;
    }

    #menubar-icon {
        display: inline-block;
        padding: 0px 0px 0px 5px;
        font-size: 26px;
        font-weight: 600;
    }

    .home {
        display: flex;
        flex-direction: column;
        height: 630px;

    }

    .home-left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 310px;
        margin-top: 45px;
        padding-top: 80px;

    }

    .home-content-text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .text-one {
        font-size: 16px;
    }

    .text-two {
        font-size: 35px;
        width: 90%;
    }

    .text-three {
        font-size: 21px;
        width: 300px;
    }

    .text-four {
        font-size: 13px;
        font-weight: 400;
        padding: 5px 3px 15px;
    }

    .home-right {
        width: 350px;
        flex-basis: 55%;
        margin-left: 5px;


    }

    .home-right img {
        height: 357px;
        width: 270px;

    }

    .about-me-section {
        width: 100%;
        height: fit-content;
        padding: 30px 0px;
        background-color: rgb(252, 240, 224);
    }

    .top-heading {
        font-size: 20px;
        margin-bottom: 0px;
        height: 35px;
        width: 130px;
    }

    .about-bottom {
        position: relative;
        width: 100%;
        padding-left: 0px;
        display: flex;
        margin: 0px;
        flex-direction: column;
        /* background-color: green; */
    }

    .about-bottom-right {
        display: flex;
        flex-direction: column;

    }

    .about-bottom-right-one {
        font-size: 1.2rem;
        width: 100%;
        padding: 30px 0px 15px 5px;
    }

    .about-bottom-right-two {
        font-size: .92rem;
        padding: 0px 0px;
        line-height: 20px;
        /* background-color: gainsboro; */
    }

    .about-bottom-right-three {
        height: 44px;
        width: 150px;
        font-size: 20px;
        margin: 20px 10px;
    }

    .skill-section {
        width: 100%;
        height: fit-content;
        padding-top: 30px;
    }


    .skill-bottom {
        width: 80%;
        padding: 0px 10px;
        margin: 0px;

    }

    .skill-bottom-left-container {
        width: 100%;
        height: fit-content;

    }

    .skill-top {
        font-size: 1.25rem;
        margin: 20px 0px;
        height: 35px;
        width: 130px;

    }

    .skill-bottom-left-one {
        font-size: 1.2rem;
        padding: 5px 0px;
    }

    .skill-bottom-left-two {
        font-size: 0.92em;
        font-weight: 300;
        padding: 5px 0px;
        margin: 0px;
        line-height: 20px;
    }

    .skill-bottom-left-three {
        width: 50%;
        height: 60px;
        margin: 5px 0px;
    }

    .bottom-left-three-left {
        font-size: 3.1rem;
        width: 35%;
        padding: 10px 0px;

    }

    .bottom-left-three-right {
        width: 100%;
        font-size: 0.68rem;
        padding: 30px 0px 0px 0px;
    }

    .skill-bottom-right-container {
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px 0px;

    }

    .skill-bottom-right {
        width: 50%;
        height: 110px;
        margin: 0px;
        padding: 0px 2vw;
    }

    .skill-bottom-right-common {
        font-family: sans-serif;
        color: #4070f4;
        font-weight: 500;
    }

    .skill-bottom-right-top {
        font-size: 1rem;
        padding: 0px;

    }

    .skill-bottom-right-bottom {
        font-size: 3rem;
        padding: 0px 0px;
    }

    .services-section {
        width: 100%;
        height: 1350px;
        padding-top: 30px;
    }

    .service-heading {
        font-size: 1.25rem;
        margin: 0px 0px 20px;
        height: 35px;
        width: 150px;
    }

    .services-bottom-card-container {
        display: block;
        height: auto;
        width: 100%;
        margin: 0px;
        padding-bottom: 5px;
    }

    .services-bottom-card {
        width: 90%;
        height: 185px;
        margin: 20px 5%;
        background-color: solid white;
        border: 2px solid rgb(236, 232, 232);
        border-radius: 15px;
        font-family: sans-serif;
        text-align: center;
        padding: 14px 0px 0px;
    }

    .services-bottom-card-one {
        width: 50px;
        height: 50px;
        margin: 0px 44%;
    }

    .services-bottom-card-one i {
        font-size: 1.56rem;
    }

    .services-bottom-card-two {
        font-size: 1.68rem;
        padding: 8px 0px 0px;
    }

    .services-bottom-card-three {
        font-size: 0.9rem;
        padding: 8px 0px 10px;
    }

    .contact-section {
        width: 100%;
        height: 340px;
        padding-top: 30px;
    }

    .Contact-heading {
        font-size: 1.25rem;
        padding-right: 5px;
        height: 35px;
        width: 150px;
    }

    .contact-top {
        font-size: 1.5em;
        padding: 5px 0px 5px 9%;
    }

    .contact-middle {
        width: 90%;
        height: auto;
        font-size: 0.9em;
        margin: 0px 5% 10px;
        padding: 0px 25px;
        line-height: 20px;
    }

    .contact-bottom {
        height: 49px;
        width: 125px;
        margin: 8px 0px;
        padding: 0px;
    }

    .contact-bottom a {
        font-size: 1.3rem;
    }

    .footer {
        position: relative;
        width: 100%;
        height: 50px;
    }


    .footer a {
        font-size: .7rem;
    }


}

@media (max-width:349px) {

    .home {
        display: flex;
        flex-direction: column;
        height: 648px;
    }

    .home-left {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .home-content-text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }


    .home-right {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        flex-basis: 50%;
        /* background-color: green; */
        height: 250px;
        overflow: hidden;
    }


    .home-right img {
        margin-top: 0px;
    }

    .skill-bottom-left-three {
        width: 200px;
        /* background-color: green; */
    }

    .bottom-left-three-right {
        padding: 42px 5px;
    }

}

@media (max-width:336px) {


    .skill-section {
        height: fit-content;
        padding-bottom: 0px;
    }
}


@media (max-width:280px) {

    .home {
        height: 570px;
    }

    .home-right img {
        margin-top: 0;
        width: 200px;
        height: 269px;
    }

    .ri-github-fill,
    .ri-mail-send-fill,
    .ri-whatsapp-line {
        display: none;
    }

    .contact-bottom {
        height: 37px;
        margin-bottom: 0px;
    }
}