@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: 0.3s all ease;
}

:root {
    --main_color:  #1653fa;
    --hover_color:  #4070f4;
    --content_font: 1.05rem;
}


.scale:hover {
    box-shadow: 8px 4px 15px var(--main_color);
    scale: calc(1.04);
    transition: all 0.3s ease;
}

.cursor:hover {
    cursor: pointer;
}

.button {
    width:fit-content;
    height: 44px;
    margin: 8px 2px;
    padding: 6px 15px;
    background-color: var(--main_color);
    border: 2px solid var(--main_color);
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}

.button a {
    color: white;
}

.button:hover {
    border: 2px solid var(--hover_color);
    background-color: white;
}

.button:hover a {
    color: var(--hover_color);
}

.primary-heading {
    width: 250px;
    height: 40px;
    color: #0E2431;
    text-align: center;
    padding: 0px 0px 5px 13px;
    font-size: 1.68rem;
    font-weight: 600;
    margin-top: 75px;
    font-family: sans-serif;
    border-bottom: 3px solid var(--main_color);
}

.secondry-top {
    width:fit-content;
    text-align: center;
    font-size: 1.62rem;
    font-family: sans-serif;
    font-weight: 500;
    padding: 30px 0px 20px;
}

.navbar-section {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 50;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 244, 226);
}

.navbar {
    width: 95%;
    height: 70px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-logo {
    font-weight: 500;
    font-size: 2.1rem;
    color:var(--main_color);
}

.navbar-middle {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-middle li {
    margin: 0px 8px;
}

.navbar-middle li a {
    font-size: 1.08rem;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;

}

.navbar-middle li a:hover {
    color: var(--main_color);

}

.ri-mail-send-fill {
    color: var(--main_color);
    font-size: 22px;
    margin: 11px 3px;
}

.ri-github-fill {
    color: var(--main_color);
    font-size: 24px;
    margin: 11px 3px;
}

.ri-whatsapp-line {
    color: var(--main_color);
    font-size: 23px;
    margin: 11px 3px;
}

.hide_link_large {
    display: none;
}

#menubar-icon {
    display:none;
    font-size: 23px;
    padding-left: 15px;
    color: var(--main_color);
}

#menu_cross_btn {
    display:none;
    font-size: 23px;
    padding-left: 15px;
    color: var(--main_color);
}

.home {
    display: flex;
    position: relative;
    height: 910px;
    width: 100%;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
}

.home-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 70%;
    height: 100%;
    margin-top: 83px;
    background-color: transparent;

}

.home-content-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    height: 700px;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 0px 0px 100px;
    font-family: 'Ubuntu', sans-serif;
}

.text-one {
    font-size: 1.8rem;
    font-weight: 200;
}

.text-two {
    font-size: 4.6rem;
    font-weight: 500;
}

.text-three {
    font-size: 2.8rem;
    font-weight: 400;
    padding-top: 5px;
    color: var(--main_color);
}

.text-four {
    font-size: 1.56rem;
    font-weight: 300;
    padding: 5px 3px;
}

.home-right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    width: fit-content;
    align-items: flex-end;
    justify-content:flex-end;
    z-index: 5;

}

.home-right img {
    width: 680px;
    height:auto;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:fit-content;
    background-color: rgb(252, 234, 236);
}


.Cv-box {
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0px 100px;

}

.Cv-box button {
    margin: 0px 15px;
}

.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: rgb(187, 232, 252);

}

.skill-top {

    height: 40px;
    color: #0E2431;
    font-size: 27px;
    font-weight: 600;
    font-family: sans-serif;
    border-bottom: 3px solid var(--main_color);
}

.skill-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    margin-top: 50px;
}

.skill-bottom-left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skill-bottom-right-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.skill-bottom-left-one {
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 20px;
    font-family: sans-serif;
}

.skill-bottom-left-two {
    font-size: var(--content_font);
    font-weight: 300;
    padding-top: 15px;
    font-family: sans-serif;
    text-align: justify;
}

.skill-bottom-left-three {
    display: flex;
    width:auto;
}

.bottom-left-three-left {
    width:fit-content;
    font-size: 5rem;
    font-family: sans-serif;
}

.bottom-left-three-right {
    width: 60%;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: sans-serif;
    padding: 35px 0px 0px 15px;

}

.skill-bottom-right {
    width: 50%;
    padding: 0px 5vw;
}

.skill-bottom-right-common {
    font-family: sans-serif;
    color: var(--main_color);
    font-weight: 500;
}

.skill-bottom-right-top {
    font-size: 1.3rem;
}

.skill-bottom-right-bottom {
    font-size: 3.7rem;
    padding: 15px 0px 10px 0px;
}

.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:fit-content;
    background-color: rgb(252, 234, 236);
    /* background-color: green; */
}


.services-bottom-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    height: 600px;
    margin: 25px 0px 50px;
}

.services-bottom-card {
    display: flex;
    width: 31.3%;
    height: 240px;
    margin: 20px 1%;
    border:none;
    border-radius: 15px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
    color:#ffffff;
    position: relative;
}

.services-bottom-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-bottom-card-two {
    font-size: 2rem;
    font-weight: 600;
    padding: 0px 0px 10px;
}

.services-bottom-card-three {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: -100%;
    font-size: 1.06rem;
    font-weight: 400;
    font-family: sans-serif;
    padding: 2rem 1rem 0rem;
    background-color:rgba(25, 60, 155, 0.4);
    backdrop-filter: blur(5px);
    transition: .5s;
}

.services-bottom-card-para {
    padding: 10px 0px 10px;
    font-weight: 500;
}

.services-bottom-card-three button {
    margin: 1rem .5rem;
    font-size: 1.3rem;
}

.services-bottom-card:hover .services-bottom-card-three {
  bottom: 0;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: rgb(187, 232, 252);

}

.contact-middle {
    width: 70%;
    font-size: var(--content_font);
    font-weight: 400;
    text-align: center;
}

.contact-bottom {
    display: flex;
    width: 160px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 70px;
    background-color: var(--main_color);
    border: 2px solid var(--main_color);
    border-radius: 5px;
}

.contact-bottom a {
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.contact-bottom:hover {
    border-color: var(--main_color);
    background-color: white;
}

.contact-bottom:hover a {
    color: var(--main_color);
}

.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;
    background-color: var(--main_color);
}

.footer a {
    color: #ffffff;
    font-size: 1.37rem;
    padding: 1.1rem;
    font-weight: 400;
    font-family: sans-serif;
    /* background-color: green; */

}